<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
    <body>
      <form action="/landmarks/<%= @landmark.id %>" method="post">
        <input id="hidden" type="hidden" name="_method" value="patch">
        Name: <input type="text" name="name" value="<%= @landmark.name %>">
        Year Completed: <input type="text" name="landmark" value="<%= @landmark.year_completed %>">
        <input type="submit" value="submit">
      </form>
    </body>
</html>
