<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Add a Landmark</title>
  </head>
  <body>
    <h1>Add a Landmark</h1>
      <form action="/landmarks" method="post">
        <br> Name: <input type="text" name="name"> </br>
        <br> Year Completed: <input type="text" name="year_completed"> </br>
        <br> Figure: <input type="text" name="figure"> </br>
      <input type="submit" value="submit">
      </form>

  </body>
</html>
